.student-settings-background__hidden {
  @extend %student-settings-background;
  opacity: 0;
  z-index: -1;
  transform: translateY(50px);
}

.student-settings-background__show {
  @extend %student-settings-background;
  opacity: 100;
  z-index: 1;
  transform: translateY(0);
}

.student-settings {
  position: relative;
  width: 700px;
  height: 350px;
  padding: 30px;
  box-sizing: border-box;
  background-color: $modal-window-bg;
  border-radius: 20px;
  border: 2px solid white;
  overflow: hidden;
  i {
    position: absolute;
    left: 90%;
    font-size: 24px;
  }
  p {
    font-size: $header-fz;
    text-align: center;
    color: white;
  }
  div {
    display: flex;
    column-gap: 30px;
  }
  .settings-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 15px;
    .delete-account-button {
      transition: none;
      z-index: 1;
    }
    .delete-account-button:hover {
      background-color: transparent;
    }
    .delete-account-button::before {
      z-index: -1;
      background-color: red;
    }
    .delete-account-button:hover::before {
      top: 0;
    }
    button {
      padding: 7px;
      transition: 0.3s ease background-color;
    }
    :hover {
      background-color: $before-bg;
    }
  }
}

@import "./PrimarySettings";
@import "./Changes";
