.subject-filter {
    position: absolute;
    left: 89%;
    top: 10%;
    cursor: pointer;
}

.subject-filter i {
    color: white;
    padding: 10px;
    border: 2px solid white;
    font-size: 24px;
    border-radius: 15px;

    transition: .3s ease color;
}

.fa-filter:hover, .fa-times:hover {
    color: rgba(255, 255, 255, 0.4);
}

.filters-container {
    position: absolute;
    background-color: #00674A;
    border-left: 2px solid black;
    color: white;
    height: calc(100svh - 40px);
    right: 0;
    top: 0;
    z-index: 2;
    overflow: hidden;

    transition: .3s ease width, .5s ease padding;
}

.filters-container__unactive {
    padding: 0px;
    width: 0;
}

.filters-container__active {
    padding: 20px;
    width: 300px;
}

.filters-container i {
    cursor: pointer;
    transition: .3s ease color;
}

.filters-container div:first-child {
    display: flex;
    align-items: center;
    font-size: 24px;
}

.filters-title {
    margin-left: 70px;
}

.filters-content-title {
    margin-top: 10px;
    font-size: 20px;
}

.disciplines {
    margin-top: 20px;
}

.clear-filter {
    background-color: #aaaaaa2d;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
    border: none;

    transition: .3s ease box-shadow;
}

.clear-filter:hover {
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
}