.task-open {
  @extend %task;
}

.task-close {
  @extend %task;
  height: 170px;
  overflow: hidden;
}

%task:hover {
  box-shadow: $defaul-box-shadow;
  background-color: $block-hover-bg;
}

.teacher-name,
.subject-name,
.task-date,
.task-name {
  margin-top: 15px;
  padding: 5px 20px;
  width: 150px;
  border-radius: 10px;
  text-align: center;
  background: rgba(170, 170, 170, 0.1);
  white-space: nowrap;
}

.expand {
  position: absolute;
  left: 80%;
  top: 110px;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 13px;
  background-color: $transparent-20;
  border-radius: 10px;
  color: white;
  outline: none;
  border: none;

  transition: 0.3s ease transform;
  i {
    transition: 0.3s ease transform;
  }
}

.expand-task-opened {
  transform: rotate(-180deg);
  transition: 0.3s ease transform;
}

.task-description {
  p {
    padding: 10px;
    background: $transparent-20;
    margin-top: 30px;
    height: 150px;
    width: 300px;
    text-align: left;
    border-radius: 10px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    overflow-y: scroll;
  }
  p::-webkit-scrollbar {
    width: 6px;
  }

  p::-webkit-scrollbar-track {
    background: transparent;
  }

  p::-webkit-scrollbar-thumb {
    background-color: $transparent-30;
  }
}

.task-options {
  position: absolute;
  top: 480px;
  i {
    cursor: pointer;
    transition: 0.3s ease color;
  }
  i:hover {
    color: rgba(255, 255, 255, 0.5);
  }
  i:last-child {
    margin-left: 10px;
  }
}

.tasks-task-done {
  @extend %task-status;
  left: 70%;
  color: $failed-status;
}

.tasks-task-failed {
  @extend %task-status;
  left: 58%;
  color: $done-status;
}
