.profile-content {
  padding: 30px 30px 0 30px;
  height: calc(100svh - 101px);
  overflow: hidden;
}

.top-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@import "./StudentInfo";
@import "./LastWeeksTasks";
@import "./LastTasks";
@import "./StudentSettings/StudentSettings";
@import "./AddForm";
