.student-info {
  position: relative;
  width: 500px;
  height: 220px;
  background-color: $transparent-bg;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  padding: 15px 0;

  transition: 0.3s ease background-color, 0.3s ease box-shadow;
  i {
    position: absolute;
    left: 90%;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;

    transition: 0.3s ease color;
  }
  i:hover {
    color: white;
  }
}

.student-info:hover {
  background-color: $block-hover-bg;
  box-shadow: $defaul-box-shadow;
}

.student-characteristics {
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  div {
    display: flex;
    align-items: center;
    p {
      flex-basis: 90%;
    }
    i {
      flex-basis: 5%;
      color: white;
      padding: 11px 20px;
      margin-top: 5px;
      background-color: $transparent-bg;
      border-radius: 15px;
      margin-left: 20px;
      cursor: pointer;
    }
  }
}

.characteristics-item {
  color: white;
  padding: 10px 20px;
  background-color: $transparent-bg;
  margin-top: 10px;
  border-radius: 15px;
  text-align: center;
}