.tasks-content {
    height: 100svh;
    display: flex;
    gap: 30px;
    padding: 30px;
}

.task {
    position: relative;
    width: 300px;
    height: 500px;
    overflow: hidden;
    border-radius: 20px;
    background: rgba(170, 170, 170, 0.10);
    color: white;
    font-size: 18px;
    padding: 30px 25px;
    box-sizing: content-box;
    
    transition: .3s ease box-shadow, .3s ease height;
}

.task-close {
    height: 180px;
    overflow: hidden;
}

.task:hover {
    box-shadow: 0px 4px 20px 2px rgba(0, 0, 0, 0.25);
}

.teacher-name, .subject, .task-date, .task-name {
    margin-top: 15px;
    padding: 5px 20px;
    width: 150px;
    border-radius: 10px;
    text-align: center;
    background: rgba(170, 170, 170, 0.10);
}

.task .teacher-name {
    margin-top: 0;
}

.expand {
    position: absolute;
    left: 80%;
    top: 110px;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 13px;
    background-color: rgba(12, 101, 76, 0.50);
    border-radius: 10px;
    background: rgba(170, 170, 170, 0.10);
    color: white;
    outline: none;
    border: none;
}

.expand i {
    transition: .3s ease transform;
}

.expand-task-opened {
    transform: rotate(-90deg);
    transition: .3s ease transform;
}

.task-description p {
    padding: 10px;
    background: rgba(12, 101, 76, 0.42);
    margin-top: 30px;
    height: 150px;
    width: 300px;
    text-align: left;
    border-radius: 10px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    overflow-y: scroll;
}

.task-description p::-webkit-scrollbar {
    width: 6px;
}

.task-description p::-webkit-scrollbar-track {
    background: transparent;
}

.task-description p::-webkit-scrollbar-thumb {
    background-color: green;
}

.task-options {
    position: absolute;
    top: 480px;
}

.task-options i {
    cursor: pointer;
}

.fa-file-upload {
    margin-left: 10px;
}

.tasks-task-done {
    position: absolute;
    top: 500px;
    left: 70%;
    color: #00DA23;
}

.tasks-task-failed {
    position: absolute;
    top: 500px;
    left: 58%;
    color: #FF3C3C;
}