.journals {
    padding: 30px;
    color: white;
    .journals-title {
      font-size: 32px;
      text-align: center;
    }
    .journals-container {
      display: flex;
      gap: 40px;
      .journal {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 28px;
        width: 170px;
        height: 170px;
        border-radius: 30px;
        background-color: $transparent-bg;
        box-shadow: $defaul-box-shadow;
        cursor: pointer;
  
        transition: 0.3s ease box-shadow, 0.3s ease transform;
      }
      .journal:hover {
        transform: translateY(4px);
        box-shadow: none;
      }
    }
  }