.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 59px);
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border-radius: 10px;
    padding: 30px 40px;
    background: $transparent-bg;
    box-shadow: $defaul-box-shadow;
  }
}

.login-title-container {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding-bottom: 20px;
  text-align: center;
  color: white;
  width: 100%;
  position: relative;
  .login-title {
    font-size: $header-fz + 4px;
  }
  .login-title-line {
    position: absolute;
    height: 3px;
    width: calc(100% + 80px);
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    opacity: 10%;
  }
}

.form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  height: 100%;
  margin-top: 30px;
  .login-links {
    display: flex;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
  }
}
