.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 59px);
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 400px;
    border-radius: 30px;
    padding: 0 0 40px 0;
    background: $transparent-bg;
    box-shadow: $defaul-box-shadow;
    input {
      padding: 15px 20px;
      background-color: white;
      border-radius: 15px;
      outline: none;
      border: none;
      color: black;

      transition: 0.3s ease background-color;
    }
    input:hover {
      background-color: $button-hover-bg;
    }
    input::placeholder {
      transition: 0.3s ease transform;
    }
    input:focus::placeholder {
      transform: translateY(-200%);
    }
    button:hover,
    .login-links a:hover {
      background-color: $button-hover-bg;
    }
  }
}

.login-title-container {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 25px 0;
  text-align: center;
  color: white;
  width: 100%;
  position: relative;
  .login-title {
    font-size: $header-fz + 14px;
  }
  .login-title-line {
    position: absolute;
    height: 2px;
    width: 95%;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
  }
}

.form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  height: 100%;
  .login-links {
    display: flex;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    button {
      transition: 0.3s ease background-color;
    }
    a {
      border-radius: 10px;
      padding: 7px 15px;
      transition: 0.3s ease background-color;
    }
  }
}
