* {
  margin: 0;
  padding: 0;
  font-family: $default-ff;
}

body {
  background-color: $app-bg;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: $app-bg;
}

body::-webkit-scrollbar-thumb {
  background-color: $transparent-20;
  border-radius: 20px;
}

a {
  color: white;
  text-decoration: none;
  border-radius: 10px;
  padding: 7px 15px;
  font-size: 16px;

  transition: 0.3s ease background-color;
}

a:hover {
  background-color: $transparent-20;
}

button {
  position: relative;
  padding: 7px 15px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  overflow: hidden;
}

button:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 100%;
  top: 100%;
  left: 0;
  z-index: -1;
  background-color: $before-bg;

  transition: 0.3s ease top, 0.3s ease border-radius;
}

button:hover::before {
  border-radius: 0;
  top: 0;
}

input {
  padding: 15px 20px;
  background-color: $transparent-bg;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 18px;
  color: white;

  transition: 0.3s ease background-color;
}
input:hover {
  background-color: $transparent-30;
}
input::placeholder {
  color: white;
  transition: 0.3s ease transform;
}
input:focus::placeholder {
  transform: translateY(-200%);
}
