// Font
$default-ff: 'Ubuntu', sans-serif;
$header-fz: 32px;
$button-text-color: #0c654c;

// Status
$done-status: #00DA23;
$failed-status: #FF3C3C;

// Backgrounds
$app-bg: #00674A;
$transparent-bg: rgba(170, 170, 170, 0.1);
$modal-window-bg: #003425;

// Box shadows
$defaul-box-shadow: 0px 4px 20px 2px rgba(0, 0, 0, 0.25);

// Hovers
$button-hover-bg: #d9d9d982;
$block-hover-bg: #008a63;