.top-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.last-weeks-tasks {
    position: relative;
}

.last-weeks-tasks-content {
    color: white;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 15px;
    width: 430px;
    margin-top: 30px;
}

.last-weeks-tasks-item {
    width: 200px;
    height: 60px;
    background-color: #AAAAAA1A;
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;

    transition: .3s ease background-color, .3s ease box-shadow;
}

.last-weeks-tasks-item:hover {
    background-color: #006e51;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.last-weeks-tasks-item div {
    display: flex;
    justify-content: space-between;
}

.task-done {
    top: 0;
    color: #00DA23;
}

.task-failed {
    color: #FF3C3C;
}

.last-weeks-tasks-title {
    position: absolute;
    color: white;
    left: 40%;
    transform: translateX(-25%);
    font-size: 20px;
}