.subject-filter {
  position: absolute;
  left: 89%;
  top: 10%;
  cursor: pointer;
  i {
    color: white;
    padding: 10px;
    border: 2px solid white;
    font-size: 24px;
    border-radius: 15px;

    transition: 0.3s ease color;
  }
}

.fa-times:hover,
.fa-filter:hover {
  color: rgba(255, 255, 255, 0.4);
}

.filters-container__unactive {
  @extend %filters-container;
  padding: 0px;
  width: 0;
}

.filters-container__active {
  @extend %filters-container;
  padding: 20px;
  width: 300px;
}

.filters-title {
  margin-left: 70px;
}

.filters-content {
  p {
    margin-top: 10px;
    font-size: 20px;
  }
  div {
    margin-top: 20px;
  }
  .clear-filter {
    margin-top: 30px;
  }
}

.discipline-input-label {
  margin-left: 5px;
  cursor: pointer;
  font-size: 18px;
  padding: 7px 10px;
  border-radius: 5px;

  transition: 0.3s ease background-color;
}

.discipline-input-label::first-letter {
  text-transform: uppercase;
}

.discipline-input-label:hover {
  background-color: $transparent-20;
}
