.registration-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 57.6px);
}

.registration-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 300px;
    border-radius: 30px;
    padding: 0 0 200px 0;
    background: rgba(170, 170, 170, 0.10);
    box-shadow: 0px 0px 100px 2px rgba(0, 0, 0, 0.50);
}

.registration-form input {
    padding: 15px 20px;
    background-color: white;
    border-radius: 15px;
    outline: none;
    border: none;
    color: black;
    margin-left: 10px;
}

.registration-form-content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 200px;
}

.registration-login-links {
    position: absolute;
    top: 115%;
}

.registration-form-content button {
    top: 95%;
    position: absolute;
}

.registration-form input:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.registration-form input::placeholder {
    transition: .3s ease transform;
}

.registration-form input:focus::placeholder {
    transform: translateY(-200%);
}

.registration-title {
    font-size: 46px;
}

.registration-form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    height: 100%;
}

.registration-title-container {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 25px 0;
    text-align: center;
    color: white;
    width: 100%;
    position: relative;
}

.registration-title-line {
    position: absolute;
    height: 2px;
    width: 95%;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
}

.registration-links button {
    border-radius: 12px;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 15px;
    font-size: 14px;
    margin-top: 10px;
    font-weight: bold;
    white-space: nowrap;
    font-size: 16px;
    cursor: pointer;

    transition: .3s ease background-color;
}

.registration-form button:hover, .registration-links a:hover {
    background-color: #d9d9d982;
}

.registration-links {
    margin-top: 40px;
    display: flex;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.registration-links a {
    border-radius: 10px;
    padding: 7px 15px;
    transition: .3s ease background-color;
}