* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-track {
    background: #00674A;
}

body::-webkit-scrollbar-thumb {
    background-color: #008b64;
    border-radius: 20px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 59px);
}

.link-button {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    color: white;
}

#app {
    background-color: #00674A;
}