* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #003425;
    height: calc(100vh - 57.6px);
}