* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 59px);
}

.link-button {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    color: white;
}

#app {
    background-color: #006045;
}