header {
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #003425;
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.10);
}

.logo {
    display: flex;
    align-items: center;
    font-size: 32px;
    color: white;
}

.logo p {
    margin-left: 15px;
    font-weight: 700;
}

header ul {
    display: flex;
    column-gap: 25px;
}

header ul li {
    list-style: none;
}

header ul li button {
    padding: 5px 10px;
    border-radius: 20px;
    transition: .3s ease color;
}

header ul li button:hover {
    color: rgba(255, 255, 255, 0.5);
}