.registration-completed-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 56.7px);
}

.registration-completed-content p {
    color: white;
    font-size: 32px;
}