.student-info {
    position: relative;
    width: 500px;
    height: 220px;
    background-color: #AAAAAA0D;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    padding: 15px 0;

    transition: .3s ease background-color, .3s ease box-shadow;
}

.student-info i {
    position: absolute;
    left: 90%;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;

    transition: .3s ease color;
}

.student-info i:hover {
    color: white;
}

.student-info:hover {
    background-color: #006e51;
    box-shadow: 0px 4px 20px 2px rgba(0, 0, 0, 0.25);
}

.student-photo {
    background-color: #AAAAAA1A;
    padding: 15px;
    width: 125px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}

.student-photo div {
    border: 1px solid #D4B9D4;
    border-radius: 100%;
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.student-photo div img {
    height: 80px;
}

.student-characteristics {
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.characteristics-item {
    color: white;
    padding: 10px 20px;
    background-color: #AAAAAA1A;
    margin-top: 10px;
    border-radius: 15px;
    text-align: center;
}

.student-characteristics div {
    display: flex;
    align-items: center;
}

.student-characteristics div p {
    flex-basis: 90%;
}

.student-characteristics div i {
    flex-basis: 5%;
    color: white;
    padding: 11px 20px;
    margin-top: 5px;
    background-color: #AAAAAA1A;
    border-radius: 15px;
    margin-left: 20px;
    cursor: pointer;
}